.post-content img {
  max-width: 100%;
  height: auto;

  @apply rounded-md my-6;
}

.post-content figure figcaption {
  @apply text-sm text-gray-500 text-center;
}

.post-content h1 {
  @apply text-3xl font-bold my-6;
}

.post-content h2 {
  @apply text-2xl font-bold my-6;
}

.post-content h3 {
  @apply text-xl font-bold my-6;
}

.post-content a {
  @apply text-green-400 hover:underline;
}

.post-content iframe {
  @apply my-6;
}

/* buttons */
.post-content .kg-btn {
  @apply inline-block px-4 py-2 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent rounded-md shadow-sm bg-green-400 hover:bg-green-500 active:bg-green-600 my-6 hover:no-underline;
}
